.years-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding-bottom: 0px;
  border-bottom: 1px solid #ddd;
}

.years-container .dropdown-container {
  height: 30px;
  overflow: hidden;
  width: 268px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: 1px solid #bbb;
}

.years-container .dropdown {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  width: 268px;
  border-radius: 10px;
  outline: none;
}

.years-container .submit-btn {
  margin-left: 10px;
  /* width: 250px; */
  height: 30px;
  border: none;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  background: #33cc33;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}

.years-container .submit-btn:hover {
  background: #006600;
}

.years-container .submit-btn:active {
  background: #006600;
}

.movies-container {
  display: flex;
  flex-flow: column wrap;
  margin-top: 10px;
  border-radius: 20px;
}

.movies-container .movie {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 30px;
  padding: 0 10px;
  border-radius: 20px;
}

.movie .header, .movie .title, .movie .genre, .movie .votes, .movie .year {
  flex: 1 0 25%;
  border-radius: 20px;
}

.bestof-jumbotron {
  border-radius: 40px;
  background: url(https://www.xmple.com/wallpaper/linear-white-green-gradient-1920x1080-c2-90ee90-ffffff-a-225-f-14.svg);
  opacity:0.95;
}
